﻿@model IEnumerable<IntervalViewModel>
@{
    ViewData["Title"] = "Редактирование интервалов";
}
<h2>@ViewData["Title"]</h2>

<table class="table table-bordered table-striped table-responsive table-auto">
    <thead>
        <tr>
            <th colspan="2">Значение интервала (в секундах)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var interval in @Model)
        {
            <tr>
                <td class="span-column">@interval.Value</td>
                <td class="action-column">
                    <button onclick="deleteInterval('@interval.Id')" class="btn btn-sm btn-default">
                        <img src="~/images/remove.png" />
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-success" data-toggle="modal" data-target="#add-interval">
    Добавить интервал
</button>

<div id="add-interval" class="modal fade" tabindex="-1" aria-labelledby="edit-settings-title" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <form action="@Url.Action("Add")" class="modal-content" enctype="multipart/form-data" method="post">
            <div class="modal-header">
                <h4 id="edit-settings-title" class="modal-title">Добавление интервала</h4>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Интервал</label>
                    <input id="Value" name="Value" class="form-control" type="number" min="1">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Закрыть</button>
                <button class="btn btn-primary" type="submit">Сохранить</button>
            </div>
        </form>
    </div>
</div>